
<div class="pokemon-grid">
  @for (pokemon of pokemons; track pokemon.pokedexId) {
  <app-pokemon-card [pokemon]="pokemon" page="home" />
  }
</div>

@if (pokemons.length === 0) {
  <app-pokemon-error-notification errorTitle="No Pokémon found" errorMessage="Try searching with the full Pokémon name or its Pokédex number"/>
}

<div class="home__pagination" >
  <button (click)="prevPage()" [disabled]="currentPage() === 1">Prev</button>

  <span>Page {{ currentPage() }} / {{ totalPages() }}</span>

  <button (click)="nextPage()" [disabled]="currentPage() === totalPages() || pokemons.length === 0">
    Next
  </button>
</div>

